<div class="header">
  <button
    (click)="addNewVehicle()"
    class="primary-btn"
    style="margin-bottom: 2rem"
  >
    Adicionar Veículo
  </button>
</div>
<div class="table-container">
  <table class="table">
    <thead>
      <tr class="th">
        <th
          (click)="sortTable('brand')"
          class="th"
          style="cursor: pointer; min-width: 250px"
        >
          MARCA <span *ngIf="sortOrder['brand'] !== true">▼</span>
          <span *ngIf="sortOrder['brand'] === true">▲</span>
        </th>
        <th
          class="th"
          (click)="sortTable('model')"
          style="cursor: pointer; width: 100%; min-width: 200px"
        >
          MODELO <span *ngIf="sortOrder['model'] !== true">▼</span>
          <span *ngIf="sortOrder['model'] === true">▲</span>
        </th>
        <th
          class="th"
          (click)="sortTable('year')"
          style="cursor: pointer; min-width: 150px"
        >
          ANO <span *ngIf="sortOrder['year'] !== true">▼</span>
          <span *ngIf="sortOrder['year'] === true">▲</span>
        </th>
        <th
          class="th"
          (click)="sortTable('plate')"
          style="cursor: pointer; min-width: 150px"
        >
          PLACA <span *ngIf="sortOrder['plate'] !== true">▼</span>
          <span *ngIf="sortOrder['plate'] === true">▲</span>
        </th>
        <th
          class="th"
          (click)="sortTable('chassi')"
          style="cursor: pointer; min-width: 250px"
        >
          CHASSI <span *ngIf="sortOrder['chassi'] !== true">▼</span>
          <span *ngIf="sortOrder['chassi'] === true">▲</span>
        </th>
        <th
          class="th"
          (click)="sortTable('reindeer')"
          style="cursor: pointer; min-width: 250px"
        >
          RENAVAM <span *ngIf="sortOrder['reindeer'] !== true">▼</span>
          <span *ngIf="sortOrder['reindeer'] === true">▲</span>
        </th>
        <th
          class="th"
          style="position: sticky; right: 0; z-index: 3; min-width: 200px"
        ></th>
      </tr>
    </thead>
    <tbody>
      <!-- Linha de novo veículo para edição, sempre no topo -->
      <tr *ngIf="isAddingNew">
        <td>
          <input
            [(ngModel)]="newVehicle.brand"
            class="form-control"
            placeholder="Marca"
          />
        </td>
        <td>
          <input
            [(ngModel)]="newVehicle.model"
            class="form-control"
            placeholder="Modelo"
          />
        </td>
        <td>
          <input
            [(ngModel)]="newVehicle.year"
            class="form-control"
            placeholder="Ano"
          />
        </td>
        <td>
          <input
            [(ngModel)]="newVehicle.plate"
            class="form-control"
            placeholder="Placa"
            mask="AAA-0A00"
          />
        </td>
        <td>
          <input
            [(ngModel)]="newVehicle.chassi"
            class="form-control"
            placeholder="Chassi"
          />
        </td>
        <td>
          <input
            [(ngModel)]="newVehicle.reindeer"
            class="form-control"
            placeholder="Reindeer"
          />
        </td>
        <td style="align-items: center">
          <div class="btns-field">
            <button
              (click)="saveNewVehicle()"
              class="btn btn-success btn-sm"
              style="margin-right: 18px"
            >
              Salvar
            </button>
            <button
              (click)="cancelNewVehicle()"
              class="btn btn-secondary btn-sm"
            >
              Cancelar
            </button>
          </div>
        </td>
      </tr>

      <!-- Exibe os veículos existentes -->
      <tr style="height: 4rem" *ngFor="let vehicle of vehicles; let i = index">
        <td>
          <input
            *ngIf="!vehicle.isEditing"
            [(ngModel)]="vehicle.brand"
            class="form-control"
            [disabled]="true"
          />
          <input
            *ngIf="vehicle.isEditing"
            [(ngModel)]="vehicle.brand"
            class="form-control"
            placeholder="Marca"
          />
        </td>
        <td>
          <input
            *ngIf="!vehicle.isEditing"
            [(ngModel)]="vehicle.model"
            class="form-control"
            [disabled]="true"
          />
          <input
            *ngIf="vehicle.isEditing"
            [(ngModel)]="vehicle.model"
            class="form-control"
            placeholder="Modelo"
          />
        </td>
        <td>
          <input
            *ngIf="!vehicle.isEditing"
            [(ngModel)]="vehicle.year"
            class="form-control"
            [disabled]="true"
          />
          <input
            *ngIf="vehicle.isEditing"
            [(ngModel)]="vehicle.year"
            class="form-control"
            placeholder="Ano"
          />
        </td>
        <td>
          <input
            *ngIf="!vehicle.isEditing"
            [(ngModel)]="vehicle.plate"
            class="form-control"
            [disabled]="true"
            mask="AAA-0A00"
          />
          <input
            *ngIf="vehicle.isEditing"
            [(ngModel)]="vehicle.plate"
            class="form-control"
            placeholder="Placa"
            mask="AAA-0A00"
          />
        </td>
        <td>
          <input
            *ngIf="!vehicle.isEditing"
            [(ngModel)]="vehicle.chassi"
            class="form-control"
            [disabled]="true"
          />
          <input
            *ngIf="vehicle.isEditing"
            [(ngModel)]="vehicle.chassi"
            class="form-control"
            placeholder="Chassi"
          />
        </td>
        <td>
          <input
            *ngIf="!vehicle.isEditing"
            [(ngModel)]="vehicle.reindeer"
            class="form-control"
            [disabled]="true"
          />
          <input
            *ngIf="vehicle.isEditing"
            [(ngModel)]="vehicle.reindeer"
            class="form-control"
            placeholder="Reindeer"
          />
        </td>

        <td
          style="
            align-items: center;
            position: sticky;
            right: 0;
            z-index: 0;
            min-width: 200px;
          "
        >
          <div class="btns-field">
            <button
              *ngIf="!vehicle.isEditing"
              (click)="editVehicle(i)"
              style="
                border: none;
                background: none;
                padding: 0;
                cursor: pointer;
                margin-right: 36px;
              "
            >
              <img src="edit.svg" alt="Editar" />
            </button>
            <button
              *ngIf="vehicle.isEditing"
              (click)="saveVehicle(i)"
              class="btn btn-success btn-sm"
              style="margin-right: 18px"
            >
              Salvar
            </button>
            <button
              *ngIf="vehicle.isEditing"
              (click)="cancelEdit(vehicle)"
              class="btn btn-secondary btn-sm"
            >
              Cancelar
            </button>
            <button
              data-bs-toggle="modal"
              data-bs-target="#handleOpenModal"
              *ngIf="!vehicle.isEditing"
              (click)="delete(vehicle)"
              style="
                border: none;
                background: none;
                padding: 0;
                cursor: pointer;
              "
            >
              <img src="delete.svg" alt="Deletar" />
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<!-- Modal -->
<div
  class="modal fade"
  id="handleOpenModal"
  tabindex="-1"
  aria-labelledby="handleOpenModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="handleOpenModalLabel">
          Confirmar Exclusão
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        Você tem certeza que deseja excluir este veículo? Essa ação será
        irreversível.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cancelar
        </button>
        <button
          type="button"
          (click)="confirmDelete()"
          data-bs-dismiss="modal"
          class="btn btn-danger"
        >
          Deletar
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Alerta de Salvamento com sucesso -->
<div
  *ngIf="showSuccessAlert"
  class="alert alert-success alert-dismissible fade show fixed-top custom-alert"
  role="alert"
  style="z-index: 1050; margin-top: 10px;"
>
  <strong>Sucesso!</strong> Os dados foram salvos com sucesso.
  <button
    type="button"
    class="btn-close"
    (click)="closeAlert()"
    aria-label="Close"
  ></button>
</div>
