.header {
  display: flex;
  margin-top: 8rem;
  width: 200px;
  align-items: center;
  justify-content: space-between;
  padding-right: 4;
}

.table-container {
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.1);
  display: flexbox;
  align-items: center;
  border-left: 1px #dcdcdc solid;
  border-bottom: 1px #dcdcdc solid;
  border-right: 1px #dcdcdc solid;
  background-color: #fff;
  overflow: auto;
  height: 100vh;
  max-height: calc(100% - 436px);
}

.table {
  font-size: 0.8rem;
  border-collapse: collapse;
  width: 100%;
}

.th {
  position: sticky;
  top: 0;
  height: 24px;
  max-height: 24px;
  justify-content: space-around;
  background: #d0d5e0;
  z-index: 2;
  border-bottom: 1px #d0d5e0 solid;
}

input {
  border: 1px solid #ccc;
  padding: 0.5rem;
  border-radius: 4px;
  text-transform: uppercase;

  &:disabled {
    background-color: transparent;
    border: none;
    box-shadow: none;
  }

  &:focus {
    border: 1px solid #007bff;
    outline: none;
  }
}

.th-span {
  margin-right: 1rem;
}

.btns-field {
  display: flex;
  height: 3rem;
  align-items: center;
  justify-content: flex-end;
}

.custom-alert {
  width: 30%;                  /* Defina a largura do alerta para 30% da tela */
  left: 50%;                   /* Coloca o alerta na metade da largura da tela */
  transform: translateX(-50%); /* Ajusta a posição para centralizar o alerta */
  position: fixed;             /* Fixa o alerta na tela, evitando que ele se mova ao rolar */
  top: 10px;                   /* Define a distância do topo da tela */
  z-index: 1050;               /* Garante que o alerta ficará acima de outros elementos */
}

