<div class="container">
  <button (click)="addNewVehicle()" class="btn btn-primary mb-3">Novo Veículo</button>

  <table class="table">
    <thead>
      <tr>
        <th>Marca</th>
        <th>Modelo</th>
        <th>Ano</th>
        <th>Placa</th>
        <th>Chassi</th>
        <th>Renavam</th>  <!-- Alterado de "Renavam" para "Reindeer" -->
        <th></th>
      </tr>
    </thead>
    <tbody>
      <!-- Linha de novo veículo para edição, sempre no topo -->
      <tr *ngIf="isAddingNew">
        <td><input [(ngModel)]="newVehicle.brand" class="form-control" placeholder="Marca"></td>
        <td><input [(ngModel)]="newVehicle.model" class="form-control" placeholder="Modelo"></td>
        <td><input [(ngModel)]="newVehicle.year" class="form-control" placeholder="Ano"></td>
        <td><input [(ngModel)]="newVehicle.plate" class="form-control" placeholder="Placa"></td>
        <td><input [(ngModel)]="newVehicle.chassi" class="form-control" placeholder="Chassi"></td>
        <td><input [(ngModel)]="newVehicle.reindeer" class="form-control" placeholder="Renavam"></td>  <!-- Alterado de "Renavam" para "Reindeer" -->
        <td>
          <button (click)="saveNewVehicle()" class="btn btn-success">Salvar</button>
          <button (click)="cancelNewVehicle()" class="btn btn-secondary">Cancelar</button>
        </td>
      </tr>

      <!-- Exibe os veículos existentes -->
      <tr *ngFor="let vehicle of vehicles; let i = index">
        <td *ngIf="!vehicle.isEditing">{{ vehicle.brand }}</td>
        <td *ngIf="vehicle.isEditing">
          <input [(ngModel)]="vehicle.brand" class="form-control" placeholder="Marca">
        </td>
        <td *ngIf="!vehicle.isEditing">{{ vehicle.model }}</td>
        <td *ngIf="vehicle.isEditing">
          <input [(ngModel)]="vehicle.model" class="form-control" placeholder="Modelo">
        </td>
        <td *ngIf="!vehicle.isEditing">{{ vehicle.year }}</td>
        <td *ngIf="vehicle.isEditing">
          <input [(ngModel)]="vehicle.year" class="form-control" placeholder="Ano">
        </td>
        <td *ngIf="!vehicle.isEditing">{{ vehicle.plate }}</td>
        <td *ngIf="vehicle.isEditing">
          <input [(ngModel)]="vehicle.plate" class="form-control" placeholder="Placa">
        </td>
        <td *ngIf="!vehicle.isEditing">{{ vehicle.chassi }}</td>
        <td *ngIf="vehicle.isEditing">
          <input [(ngModel)]="vehicle.chassi" class="form-control" placeholder="Chassi">
        </td>
        <td *ngIf="!vehicle.isEditing">{{ vehicle.reindeer }}</td> <!-- Alterado de "renavam" para "reindeer" -->
        <td *ngIf="vehicle.isEditing">
          <input [(ngModel)]="vehicle.reindeer" class="form-control" placeholder="Reindeer"> <!-- Alterado de "renavam" para "reindeer" -->
        </td>
        <td>
          <button *ngIf="!vehicle.isEditing" (click)="editVehicle(i)" class="btn btn-warning">Editar</button>
          <button *ngIf="vehicle.isEditing" (click)="saveVehicle(i)" class="btn btn-success">Salvar</button>
          <button *ngIf="vehicle.isEditing" (click)="cancelEdit(vehicle)" class="btn btn-secondary">Cancelar</button>
          <button *ngIf="!vehicle.isEditing" (click)="delete(vehicle)" class="btn btn-danger">Deletar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
