.container-fluid {
  padding: 1rem;
  margin-top: 6rem;
}

input {
  border: 1px solid #ccc;
  padding: 0.5rem;
  border-radius: 4px;

  &:disabled {
    background-color: transparent;
    border: none;
    box-shadow: none;
  }

  &:focus {
    border: 1px solid #007bff;
    outline: none;
  }
}

.btns-field {
  display: flex;
  height: 3rem;
  align-items: center;
  justify-content: flex-end;
}
