<div class="container-fluid">
  <div class="background"> <div class="overlay"></div></div>
  <!-- Coluna do formulário de login -->
  <div class="login">
    <img style="width: 50%;" src="logo.png" />

    <!-- Formulário de Login -->
    <form>
      <!-- Campo de Usuário -->
      <div class="mb-3">
        <label for="username" class="form-label">Usuário</label>
        <input
          type="text"
          class="form-control"
          id="username"
          [(ngModel)]="username"
          name="username"
          placeholder="Digite seu usuário"
          required
        />
      </div>
      <!-- Campo de Senha -->
      <div class="mb-3">
        <label for="password" class="form-label">Senha</label>
        <input
          type="password"
          class="form-control"
          id="password"
          [(ngModel)]="password"
          name="password"
          placeholder="Digite sua senha"
          required
        />
      </div>

      <div style="margin-top: 2rem; width: 100%; display: flex; justify-content: center;">
        <button style="margin-top: 2rem; width: 50%;" type="button" (click)="login()" class="primary-btn">Entrar</button>
      </div>
    </form>
  </div>
</div>
