
.display {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.container {
  display: flex;
  height: 100vh;
}

.table-area {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 8px;
  padding: 0 8px 0 8px;
  height: calc(100vh - 68px);
  background-color: #fff;
}


