<nav class="navbar navbar-expand-lg">
  <div style="display: flex; justify-content: space-between; width: 100%;">
    <div class="container-fluid">
      <div style="display: flex; flex-direction: row;">
        <img src="logotipo.png" /><span class="logotype">App</span>
      </div>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div
      class="collapse navbar-collapse"
      id="navbarSupportedContent"
      style="
        width: 50%;
        justify-content: flex-end;
        padding: 0 1rem;
        align-items: center;
      "
    >
      <form class="d-flex">
        <!-- <div
          class="input-container"
          style="position: relative; margin-right: 2rem"
        >
          <input
            class="input-search"
            type="search"
            placeholder="Buscar"
            aria-label="Search"
          />
          <img src="search.svg" alt="Ícone de busca" class="search-icon" />
        </div> -->
        <div style="display: flex; flex-flow: row nowrap; align-items: center;">
          <span style="margin-right: 1rem; color: white;" >
            Bem-vindo(a), {{ username }}
          </span>
          <img
            style="width: 2rem; cursor: pointer"
            src="logout.svg"
            alt="Ícone de logout"
            (click)="onLogout()"
          />
        </div>
      </form>
    </div>
  </div>
</nav>
