* {
  color: #424242;
}

.primary-btn {
  width: 100%;
  padding: 0.3rem 1rem;
  border: 2px  transparent solid;
  background-color: #fbbb00;
  border-radius: 5px;
  font-weight: 600;
  color: #424242;
  transition: background-color 0.3s ease, color 0.3s ease;

  &:hover {
    background-color: #424242;
    color: white;
  }
}

.secondary-btn {
  padding: 0.3rem 1rem;
  border: 2px  #fbbb00 solid;
  background-color: white;
  border-radius: 5px;
  font-weight: 600;
  transition: background-color 0.3s ease, color 0.3s ease;

  &:hover {
    border: 2px #424242 solid;
    background-color: #fbbb00;
  }
}
.input-container {
  position: relative;
  display: inline-block;
}

