/* You can add global styles to this file, and also import other style files */
.primary-btn {
  padding: 0.3rem 1rem;
  border: none;
  background-color: #b0e0e6;
  border-radius: 5px;
  font-weight:600;
}
