* {
  color: #424242;
}

.primary-btn {
  width: 100%;
  padding: 0.3rem 1rem;
  border: 2px  transparent solid;
  background-color: #fbbb00;
  border-radius: 5px;
  font-weight: 600;
  color: #424242;
  transition: background-color 0.3s ease, color 0.3s ease;

  &:hover {
    background-color: #424242;
    color: white;
  }
}

.secondary-btn {
  padding: 0.3rem 1rem;
  border: 2px  #fbbb00 solid;
  background-color: white;
  border-radius: 5px;
  font-weight: 600;
  transition: background-color 0.3s ease, color 0.3s ease;

  &:hover {
    border: 2px #424242 solid;
    background-color: #fbbb00;
  }
}
.input-container {
  position: relative;
  display: inline-block;
}

.search-icon {
  position: absolute;
  right: 0.75rem;  /* Ajuste a posição do ícone à direita */
  top: 50%;         /* Alinha verticalmente no meio do input */
  transform: translateY(-50%); /* Centraliza verticalmente */
  pointer-events: none;  /* Impede interação com o ícone */
  width: 20px;           /* Ajuste o tamanho do ícone */
  height: 20px;          /* Ajuste o tamanho do ícone */

}

.input-search {
  border: 1px #DCDCDC solid;
  width: 100%;
  border-radius: 50px;
  height: 2.5rem;
  padding: 0 3rem 0 2rem;

  &:focus {
    outline:1px solid #fbbb00;
  }
}


